<div class="card shadow">
    <div class="card-header bg-dark text-white d-flex justify-content-between">
        <h5 id="reportStudentName">Reporte de Alumno</h5>
        <span class="badge bg-danger" id="reportAlertCount">0 Alertas</span>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Dispositivo</th>
                    <th>Tipo de Infracción</th>
                    <th>Mail Enviado</th>
                </tr>
            </thead>
            <tbody id="reportTableBody">
                </tbody>
        </table>
    </div>
</div>